
.jumbotron {
    background-color: #e9ecef4f;
}

.jumboserach {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    height: auto;
}

.formsearch {
    margin: 0;
}

#search {
    background-color: #e9ecef1f;
    width: 100%;
    height: 100%;
    color: darkslategrey;
    margin-left: 2%;
}
#search:hover {
    color: lightgray;
}
#search:focus {
    color: lightgray;
}

.line-search {
    display: flex;
    width: 100%;
    margin-bottom: 0;
}
.radiosearch {
    display: none;
}

.logo-plateforme {
    margin-right: 1%;
}

.logo-btn {
    border-radius: 10%;
}


/*********************************************************************************************************************************************************************/
/**************************************************************************  DESKTOP  ********************************************************************************/
/*********************************************************************************************************************************************************************/

@media screen and (min-width: 1080px) {
    .jumbocontain {
        margin-left: 20px;
        padding-right: 50px;
    }  
    .line-search {
        height: 46px;
    } 
    .search-loupe {
        margin-left: 1%;
    }
}