<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <a href="https://www.bungie.net/fr/OAuth/Authorize?client_id=31249&response_type=code">Connexion</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
