{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}


{% block body %}
            <a href="https://www.bungie.net/fr/OAuth/Authorize?client_id=31249&response_type=code">Connexion</a>
{% endblock %}


{% block javascripts %}{% endblock %}